@{
    ViewData["Title"] = "Home";
}

<div class="text-center my-5">
    <h1 class="display-4">Welcome</h1>
    <p>To a new CSAT Feedback repository app, and say goodbye to using spreadsheets as a database.</p>
</div>
<hr class="m-3"/>
<div class="container my-5">

  <div class="card border-light mb-5 mt-3">
  <div class="card-body">
    <h5 class="card-title">Customer Satisfaction and Innovative Transportation Solutions</h5>
    <p class="card-text">Ruan's diverse set of business solutions sets us apart in the industry and keeps us competitive. </p>
  </div>
  <img src="~/img/integrated_supply_chain_solutions.png" class="card-img-bottom" alt="Supply Chain Solutions graphic">
</div>

<div class="card border-light my-5">
  <img src="~/img/ruan_truck.png" class="card-img" alt="Ruan tractor">
</div>

<div class="card border-light my-5">
  <img src="~/img/guiding_principles.png" class="card-img-top" alt="guiding principles graphic">
  <div class="card-body">
    <h5 class="card-title">Our Guiding Principles</h5>
    <p class="card-text">Keeping Ruan on the right track.</p>
  </div>
</div>

</div>